<div class="container">
  <% unless @play_again %>  
    <h3>Welcome to Blackjack, <%= session[:player_name] %>!</h3>
  <% end %>

  <% if @play_again %>
    <h3>Do you want to play again?</h3>
    <a href="/" id="yes" class="btn btn-success">Yes</a>
    <a href="/game_over" id="no" class="btn btn-danger">No</a>
  <% end %>


  <div class="well">
    <h5>The dealer's cards are:</h5>
      <% session[:dealer_cards].each_with_index do |card, index| %>
        <% if index == 0 && @hide_first_card %>
          <img src='images/cards/cover.jpg' class='card' />
        <% else %>
          <%= display_card_image(card) %>
        <% end %>
      <% end %>
      <% unless @hide_first_card %>
        <h5>Dealer's total is <%= calculate_total(session[:dealer_cards]) %>.</h5>
      <% end %>
  </div>

  <% if @show_dealer_button %>
    <form action="/dealer/hit" method="post">
      <button class="btn btn-info">Show dealer's next card...</button>
    </form>
  <% end %>

  <div class="well">
    <h5>Your cards are:</h5>
      <% session[:player_cards].each do |card| %>
        <%= display_card_image(card) %>
      <% end %>
      <h5>Your total is <%= calculate_total(session[:player_cards]) %>.</h5>
  </div>

  <% unless @error || @success %>
    <h4>Do you want to hit or stay?</h4>
    <form class="hit" action="/hit" method="post">
      <button class="btn btn-success">Hit</button>
    </form>
    <form class="stay" action="/stay" method="post">
      <button class="btn btn-danger">Stay</button>
    </form>
  <% end %>
</div>
